<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="menu" size="large" class="ion-padding" (click)="verMenu()"></ion-icon>
    <ion-title>Listas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-header>
    <ion-card-title>Asistencia</ion-card-title>
    <ion-card-subtitle>Asignaturas</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../../assets/imgs/antropologia.png" />
        </ion-thumbnail>
        <ion-label [routerLink]="['/antropologia']">Antropologia</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../../assets/imgs/comunicacion.png" />
        </ion-thumbnail>
        <ion-label [routerLink]="['/comunicacion']">Comunicación</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../../assets/imgs/estadistica.png" />
        </ion-thumbnail>
        <ion-label [routerLink]="['/estadistica']">Estadistica</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="../../../assets/imgs/ingles.png" />
        </ion-thumbnail>
        <ion-label [routerLink]="['/ingles']">Inglés</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="../../../assets/imgs/matematica.png" />
        </ion-thumbnail>
        <ion-label [routerLink]="['/matematicas']">Matemática</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="../../../assets/imgs/programacion.png" />
        </ion-thumbnail>
        <ion-label [routerLink]="['/programacion']">Programación</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>