<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="menu" size="large" class="ion-padding" (click)="verMenu()"></ion-icon>
    <ion-title>
      Home
    </ion-title>
    <ion-text slot="end" name="add">
      <p>{{username||'anonimo'}}</p>
    </ion-text>
    <ion-icon slot="end" name="person-circle-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Welcome to the home!!!</h1>
  </ion-text>
 


</ion-content>