<ion-header>
  <ion-buttons slot="start">
    <ion-back-button text="Regresar" defaultHref="/home"></ion-back-button>
  </ion-buttons>
  <ion-toolbar color="dark">
    <ion-title>Acciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let item of [0,0,0,0,0]">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Ingenieria en Informatica</ion-card-subtitle>
        <ion-card-title>Semestre 6</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Ipsum dicta quibusdam dolores ipsam dolorem velit alias voluptatem,
        repellat doloremque laborum illo, laudantium corporis ea sed facilis 
        quidem rem veritatis delectus.
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>
